@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* 
* {
  box-sizing: border-box;
} */

body {
  font-family: 'Roboto', sans-serif;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: #81b29a;
  height:100vh;

}

.boardFrame{
  width: 60vw;
  height: 60vw;
  border:2px black solid;
  display:flex;
  margin: 3rem auto;
  box-shadow: #486457 10px 10px;
}


ul{
  width:12.5%;
  margin:0;
  padding:0;
}

ul li{
 
  list-style: none;
  height: 12.5%;
  width:100%;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#eca57f;
}

.col-A li:nth-of-type(2n){
  background-color:#7f5539;
}

.col-B li:nth-of-type(2n+1){
  background-color:#7f5539;

}
.col-C li:nth-of-type(2n){
  background-color:#7f5539;

}
.col-D li:nth-of-type(2n+1){
  background-color:#7f5539;

}

.col-E li:nth-of-type(2n){
  background-color:#7f5539;

}

.col-F li:nth-of-type(2n+1){
  background-color:#7f5539;

}

.col-G li:nth-of-type(2n){
  background-color:#7f5539;

}

.col-H li:nth-of-type(2n+1){
  background-color: #7f5539;

}

li i{
  font-size:2rem;
 
}

.white{
  color:white;
}

.black{
  color:black;
}
